Repository dart-lightning/lndart.cln, pull requests merged in 2022-06, with the labels that each got.

#20 plugin: implementing the rpc callback system
  packages/cln_plugin/lib/src/cln_plugin_base.dart
  packages/cln_plugin/lib/src/icln_plugin_base.dart
  packages/cln_plugin/lib/src/rpc_method/builtin/get_manifest.dart
  packages/cln_plugin/lib/src/rpc_method/builtin/init.dart
  packages/cln_plugin/lib/src/rpc_method/rpc_command.dart
  packages/cln_plugin/lib/src/rpc_method/types/feature.dart
  packages/cln_plugin/lib/src/rpc_method/types/option.dart
  packages/cln_plugin/lib/src/rpcmethods/init/init.dart
Labels: plugin API

#21 plugin: await the call in the start method
  packages/cln_plugin/lib/src/cln_plugin_base.dart
Labels: bug

#40 plugin: adding parsing options
  packages/cln_plugin/lib/src/cln_plugin_base.dart
  packages/cln_plugin/lib/src/rpc_method/types/option.dart
Labels: plugin API

#42 plugin: implementing the example with the class exstention
  .gitignore
  packages/cln_plugin/Makefile
  packages/cln_plugin/example/cln_plugin_class_example.dart
  packages/cln_plugin/lib/src/cln_plugin_base.dart
Labels: documentation

#51 plugin: implement onInit callback
  packages/cln_plugin/example/cln_plugin_example.dart
  packages/cln_plugin/lib/src/cln_plugin_base.dart
Labels: plugin API

#58 plugin: rpccommand refactoring.
  packages/cln_plugin/lib/src/cln_plugin_base.dart
  packages/cln_plugin/lib/src/rpc_method/builtin/get_manifest.dart
  packages/cln_plugin/lib/src/rpc_method/builtin/init.dart
  packages/cln_plugin/lib/src/rpc_method/rpc_command.dart
  packages/cln_plugin/lib/src/rpc_method/types/rpc_type.dart
Labels: plugin API
